.benefithome {
  padding: 30px 150px;
  padding-bottom: 60px;
  --benefithome-title: 50px;
  --benefithome-text: 18px;
}

.benefithome .title {
  font-family: "Mulish-Bold";
  font-size: var(--benefithome-title);
  text-transform: uppercase;
  text-align: center;
  color: var(--blue-black);
}

.benefithome .title__desc {
  text-align: center;
  margin-top: 20px;
  font-size: var(--benefithome-text);
}
.benefithome .tournament__list {
  margin-top: 50px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.benefithome .tournaments__list-item {
  border: 1px solid var(--blue-black);
  transition: 0.5s;
  height: 380px;
}

.benefithome .tournament__img {
  overflow: hidden;
  cursor: pointer;
  height: 120px;
}
.benefithome .tournament__img img {
  margin: 20px auto 0px auto;
  width: 80px;
  display: block;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s;
}

.benefithome .tournaments__list-item:hover {
  background-color: var(--green-bold);
}
.benefithome .tournament__text {
  padding: 15px 25px;
  color: var(--blue-black);
}

.benefithome .tournament__text h3 {
  font-family: "Mulish-Bold";
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  height: 26px;
  line-height: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  transition: 0.5s;
}

.benefithome .tournament__text p::before {
  display: block;
  content: "";
  background-color: var(--blue-black);
  height: 5px;
  width: 50px;
  position: absolute;
  left: 50%;
  top: -2px;
  transform: translateX(-42%);
  z-index: 3;
  line-height: 5;
}
.benefithome .tournament__text p {
  padding-top: 10px;
  position: relative;
  text-align: center;
  margin-bottom: 12px;
  line-height: 1.4;
  height: 80px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 320px;
}

.benefithome .torunament__another {
  font-family: "Mulish-Bold";
  font-size: 18px;
  padding: 20px 90px;
  width: max-content;
  background-color: var(--blue-black);
  color: var(--white-text);
  transition: 0.5s;
  margin: auto;
}

.benefithome .torunament__another:hover {
  background-color: var(--green-bold);
  color: var(--blue-black);
  border: 1px solid var(--blue-black);
}

.benefithome .tournament__img img.azzz {
  margin-left: 165px;
}
@media only screen and (max-width: 1279px) {
}
@media only screen and (max-width: 1190px) {
  .benefithome {
    --benefithome-title: 40px;
    --benefithome-text: 18px;
    padding: 50px 50px;
  }
  .benefithome .tournament__list {
    margin-top: 55px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .benefithome .tournament__img img.azzz {
    margin-left: auto;
  }
}
@media only screen and (max-width: 768px) {
  .benefithome {
    padding: 30px 30px;
  }
  .benefithome .tournament__list {
    margin-top: 55px;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    row-gap: 30px;
  }
  .benefithome .tournament__text p {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 480px) {
  .benefithome {
    --benefithome-title: 18px;
    --benefithome-text: 12px;
  }
}
