
a {
  font-family: "Mulish-Regular";
  color: var(--blue-black);
  text-decoration: none;
}

.createTournament {
  width: 100%;
  height: 100%;
}

.createTournament_info {
  width: 80%;
  margin: 0 auto;
}

.createTournament_title {
  margin-top: 130px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  font-family: "Mulish-Bold";
}

/* createTournament_row1 */

.createTournament_row1 {
  width: 100%;
  margin-top: 30px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.createTournament_img,
.createTournament_row1_col2,
.createTournament_row1_col3 {
  width: 30%;
}

.createTournament_img:hover {
  cursor: pointer;
}

.createTournament_img_title {
  margin-bottom: 10px;
  font-weight: 600;
}

.createTournament_img_detail {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.createTournament_row1_col2,
.createTournament_row1_col3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.createTournament_row1_col2 {
  margin-right: 67px;
}

.createTournament_img_detail button {
  width: 60%;
  height: 50px;
  border: 1px solid black;
  background-color: black;
  color: white;
  margin: 20px auto;
}

.createTournament_row1_col2 label,
.createTournament_row1_col3 label {
  display: block;
}
.createTournament_row1_col2 input,
.createTournament_row1_col3 input,
.phoneContact {
  width: 100%;
  padding: 10px 5px;
}

input:focus {
  border: 2px solid var(--green-bold);
}


.select_typeFootballField {
  width: 100%;
  padding: 10px 5px;
}

/* margin-bottom: 20px; */

/* createTournament_row2 */

.createTournament_row2 {
  width: 100%;
  margin-bottom: 30px;
}

.createTournament_row2 input {
  margin: 20px 0;
  margin-left: 140px;
}

.createTournament_row2 label {
  width: 100%;
}

.img_type_footballField {
  display: flex;
  justify-content: space-between;
}

.type_knockout,
.type_circle,
.type_table {
  width: 100%;
  border: 1px solid black;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* createTournament_row3 */

.createTournament_row3 {
  width: 100%;
  margin-bottom: 30px;
}

.note_lengthMatch {
  width: 100%;
  padding: 10px;
  color: #207607;
  background-color: #70f994;
}

.lengthMatch_title {
  font-weight: 600;
}

/* createTournament_row4 */

.createTournament_row4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.createTournament_row4_col1 label {
  display: block;
}

.createTournament_row4_col1 {
  width: 40%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.createTournament_row4_col2 {
  width: 50%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mininum_member_input,
.timeCloseRegister_input,
.fieldSoccer_input {
  width: 100%;
  padding: 10px 5px;
}

.description_text {
  width: 100%;
  height: 270px;
  padding: 10px;
}

/* Button next */
.btn_nextPage {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
}
.btn_Next {
  padding: 15px 30px;
  display: flex;
  float: right;
  background-color: #70f994;
  color: #207607;
  border: 1px solid var(--green-bold);
  font-weight: 600;
}

/* Animation */

.switch {
  position: relative;
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: #000;
  border-radius: 100rem;
  transition: background-color 0.25s linear;
}

.switch:after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 4rem;
  background-color: #fff;
  top: 0px;
  left: -1px;
  transition: background-color 0.25s linear, transform 0.25s linear;
}

.switch__input {
  display: none;
}

.switch__input:checked + .switch {
  background-color: #6a5af9;
}

.switch-input:checked + .switch:after {
  transform: translateX(3.1rem);
  background-color: white;
}

/* Editor */

.descTeam {
  border: 1px solid var(--blue-black);
  height: 500px;
  overflow: hidden;
}

.createteam #rdw-wrapper-2391 {
  height: 500px;
  overflow-y: scroll;
}

.createteam .rdw-editor-toolbar {
  height: 100px;
}

.createteam .rdw-option-wrapper {
  height: auto;
  width: auto;
  padding: 2px;
}

.createteam .rdw-editor-toolbar {
  border-bottom: 1px solid var(--blue-black);
}
.createteam .editor-class {
  padding: 0 10px;
}

.public-DraftEditorPlaceholder-inner,
.DraftEditor-editorContainer {
  padding: 0px 10px;
}

.file_imgCreateTournament {
  display: none;
}

.btnUploadImg_createTournament {
  width: 60%;
  border: 1px solid black;
  margin-bottom: 30px;
  margin: auto;
  padding: 20px;
  padding-left: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Map */

.mapboxgl-canvas {
  height: 600px;
}
