.checkbox{
    margin-bottom: 30px;
}
.radio__input:checked,
.radio__input:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio__input:checked + .radio__label,
.radio__input:not(:checked) + .radio__label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.radio__input:checked + .radio__label:before,
.radio__input:not(:checked) + .radio__label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.radio__input:checked + .radio__label:after,
.radio__input:not(:checked) + .radio__label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--blue-black);
    position: absolute;
    top: 2.8px;
    left: 3.2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio__input:not(:checked) + .radio__label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio__input:checked + .radio__label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}