.transitions {
  position: fixed;
  z-index: 999999;
  background-color: var(--green-bold);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.transitions img{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
