:root {
  --blue-black: #16192b;
  --green-bold: #d7fc6a;
  --white-text: #ffffff;
  --black-text: #16192b;
}
a{
  font-family: "Mulish-Regular";
  color: var(--blue-black);
  text-decoration: none;
}
/* MyTournaments */
.myTournaments {
  width: 100vh;
  height: 100vh;
}
input:focus{
  outline: none;
  border: none;

}
.myTourImg {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 50%;
}

.img_mytour {
  min-width: 100%;
  min-height: 100vh;
  position: absolute;
  image-rendering: pixelated;
  object-fit: cover;
  user-select: none;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* FindTournaments */
.findTournaments {
  width: 900px;
  height: 270px;
  text-align: left;
  position: absolute;
  bottom: 30%;
  left: 20%;
}

.findInfo {
  width: max-content;
  border: none;
}
.titleFindTour {
  font-family: "Mulish-Bold";
  text-transform: uppercase;
  font-size: 64px;
  font-weight: bold;
  color: var(--white-text);
  letter-spacing: 5px;
}

.desFindTour {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: var(--white-text);
  margin: 24px 0px;
}

.findWrap  {
  height: 50px;
  display: flex;
}

.inputNameTour {
  font-size: 18px;
  width: 400px;
  padding: 10px 20px;
  outline: none;
  border: none;
  height: 100%;
}

.btnFindTour {
  padding: 10px 20px;
  width: max-content;
  background-color: var(--green-bold);
  color: black;
  font-size: 18px;
  outline: none;
  border: none;
  border-left: 1px solid var(--black-text);
  height: 100%;
}

.selectOp {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.selectArea,
.typeFootball,
.sortTour,
.btnResetFind {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

.selectArea {
  width: max-content;
}

.typeFootball {
  width: max-content;
}

.sortTour {
  width: max-content;
}

.btnResetFind {
width: 120px;
transition: 0.5s;
}

.btnResetFind:hover{
  background-color: var(--green-bold);
  color: var(--black-text);
}
/* ListTournament */

.listTournament {
  padding: 0 150px;
}

.titleListTour {
  text-align: center;
  color: var(--blue-black);
  padding: 40px;
  text-transform: uppercase;
  font-family: "Mulish-Bold";
  font-size: 50px;
}

.listTour {
  /* width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
}

/* Tounament */

.tournament {
  /* width: 250px;
  height: 260px; */
  /* margin-bottom: 24px; */
  border: 1px solid var(--blue-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.tournamentImgAd {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 65%;
}

.tournamentImg {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  /* height: 150px; */
  transition: transform 0.5s, filter 0.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}

.tournament:hover .tournamentImg {
  filter: brightness(100%);
  transform: translate(-50%, -50%) scale(1.1);
}

.tournamentInfor{
  padding: 15px 25px;
}

.tournamentName {
  margin-bottom: 8px;
  font-family: "Mulish-Bold";
  font-size: 24px;
}

.type {
  font-size: 16px;
  margin-bottom: 5px;
}

.tournamentName,
.type {
  text-align: center;
  color: black;
  -webkit-line-clamp: 1; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 26px;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.type{
  text-align: center;
  margin-bottom: 12px;
  line-height: 1.4;
  height: 45px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 320px;
}
.tournamentFooter {
  display: flex;
  justify-content: space-between;
}

.tournamentLenght {
  text-align: center;
}

.teamPart {
  display: flex;
  align-items: center;
}
.teamPart p{
  margin-top: 5px;
}
.teamPartImg {
  margin-right: 5px;
}

/* Heart */

.heart__shape {
  position: relative;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: var(--blue-black);
}
.heart__shape:before,
.heart__shape:after {
  position: absolute;
  width: 16px;
  height: 16px;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: var(--blue-black);
}
.heart__shape:before {
  bottom: 0px;
  left: -8px;
}
.heart__shape:after {
  top: -8px;
  right: 0px;
}

.heart__shape:hover,
.heart__shape.active {
  background-color: #dd2e44;
}

.heart__shape:hover::after,
.heart__shape.active:after {
  background-color: #dd2e44;
}

.heart__shape:hover::before,
.heart__shape.active:before {
  background-color: #dd2e44;
}

/* End Heart */

/* PagingTournament */

.pagingTournament {
  width: max-content;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagelink{
  color: var(--black-text);
  display: inline-block;
  padding: 10px 15px;
}

.pageItem:hover .pagelink{
  color: var(--black-text);
}
.pageItem{
  margin-top: 15px;
  margin-left: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: max-content;
  transition: 0.5s;
cursor: pointer;
}

.pageItem:hover{
  background-color: var(--green-bold);
  color: var(--black-text);
  border: 1px solid transparent;
}
/* End PagingTournament */

/* @media only screen and (max-width: 900px) {
  
} */

@media only screen and (max-width: 399px) and (min-width: 380px) {
  .findTournaments {
    left: 5%;
    top: 30%;
    width: 365px;
  }
  .selectOp {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;
  }
  .titleFindTour {
    font-size: 20px;
  }
  .desFindTour {
    font-size: 14px;
    margin: 8px 0px;
  }
  .selectArea {
    margin-bottom: 20px;
  }
  .btnResetFind {
    margin-right: 105px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
  .findTournaments {
    left: 5%;
    top: 30%;
    width: 385px;
  }
  .titleFindTour {
    font-size: 20px;
  }
  .desFindTour {
    font-size: 14px;
    margin: 8px 0px;
  }
  .inputNameTour {
    width: 210px;
    padding: 5px 10px;
  }
  .btnFindTour {
    padding: 7px 10px;
  }
  .selectOp {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;
  }
  .selectArea {
    margin-bottom: 20px;
  }
  .listTour {
    width: 51%;
  }
  .btnResetFind {
    margin-right: 105px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .listTour {
    grid-template-columns: repeat(1, 500px);
    grid-template-rows: auto;
    gap: 30px;
  }

  .listTournament {
    padding: 0 50px;
  }
  .findTournaments {
    left: 10%;
    top: 25%;
    width: 400px;
  }
  .titleFindTour {
    font-size: 24px;
  }
  .desFindTour {
    font-size: 16px;
    margin: 8px 0px;
  }
  .findInfo {
    display: inline-block;
  }
  .selectOp {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
  }
  .selectArea {
    margin-bottom: 20px;
  }
  .listTour {
    width: 39%;
  }
  .btnResetFind {
    margin-right: 105px;
  }
}

/* @media only screen and (max-width: 900px) {
  .findTournaments{
    left: 10%;
    top: 30%;
  }
  .titleFindTour{
    font-size: 28px;
  }
  .desFindTour{
    font-size: 16px;
  }
} */
