.my__tournament {
  margin-top: 40px;
}

 .title {
  font-size: 24px;
  font-family: "Mulish-Bold";
  text-transform: uppercase;
}

 .title::after {
  display: block;
  content: "";
  height: 4px;
  background-color: var(--blue-black);
  width: 150px;
  margin-top: 10px;
}

.my__tournament .item__tournament {
  position: relative;
  display: flex;
  color: var(--blue-black);
  border-radius: 5px;
  align-items: center;
  user-select: none;
  box-shadow: 0px 0px 5px 1px rgba(97, 87, 87, 0.83);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(97, 87, 87, 0.83);
  -moz-box-shadow: 0px 0px 5px 1px rgba(97, 87, 87, 0.83);
  transform: scale(1);
  transition: all 0.3s;
}

.my__tournament .item__tournament:hover {
  transform: scale(1.02);
}

.my__tournament .item__tournament:not(:last-child) {
  margin-bottom: 50px;
  border-bottom: 2px solid #ccc;
}
.item__tournament h2 {
  font-size: 24px;
  font-family: "Mulish-Bold";
}
.item__tournament .tournament__img {
  margin-right: 50px;
}
.my__tournament .tournament__img img {
  max-height: unset;
  max-width: unset;
  object-fit: cover;
  width: 300px !important;
  height: 100%;
  border-radius: 5px;
}
.item__tournament .man {
  font-size: 18px;
  margin-top: 20px;
}

.item__tournament .sub__title {
  margin-right: 10px;
  margin-left: 20px;
  display: inline-block;
}

.item__tournament i {
  width: 20px;
}

.item__tournament i img {
  width: 20px;
}

.item__tournament .status {
  background-color: var(--green-bold);
  padding: 10px;
  height: max-content;
  width: 120px;
  position: absolute;
  right: 0;
  top: 10px;
  text-align: center;
  font-family: "Mulish-Bold";
  border-radius: 5px;
}

.titleNoContent {
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.createnow {
  display: block;
  color: var(--blue-black);
  margin-top: 20px;
}

.createnow:hover {
  text-decoration: underline;
  color: var(--blue-black);
}

.address {
  line-height: 1.6;
}

.checkbox{
  margin-bottom: 30px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: var(--blue-black);
  position: absolute;
  top: 2.8px;
  left: 3.2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}