.footer {
  padding: 30px 150px ;
  background-color: var(--blue-black);
  text-align: center;
  color: var(--white-text);
  --footer-title: 40px;
  user-select: none;
}

.footer .footer_title {
  font-size: var(--footer-title);
  font-family: "Mulish-Bold";
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .footer_slogan{
    color: #c3c3c3;
    font-family: "Mulish-Regular";
    margin-bottom: 20px;
}
.footer .copy {
  position: relative;
  color: #c3c3c3;
  line-height: 1.2;
  font-family: "Mulish-Regular";
}
.footer .copy::before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  top: -10px;
}

.footer .socialfoot{
    display: flex;
    justify-content: center;
     gap: 20px;
}

.footer .socialfoot img{
    width: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1279px) {
}
@media only screen and (max-width: 1118px) {
  .footer{
    --footer-title: 40px;
    padding: 50px 50px;
  }
  .logoft{
    width: 120px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .footer{
      padding: 30px 30px;
  }
  .logoft{
    width: 100px;
  }
}
@media only screen and (max-width: 480px) {
  .footer{
    --footer-title: 18px;
  }
  .logoft{
    width: 80px;
  }
  .footer .copy {
    font-size: 12px;
  }
}