.footer {
  padding: 30px 150px ;
  background-color: var(--blue-black);
  text-align: center;
  color: var(--white-text);
}

.footer .footer_title {
  font-size: 40px;
  font-family: "Mulish-Bold";
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .footer_slogan{
    color: #c3c3c3;
    font-family: "Mulish-Regular";
    margin-bottom: 20px;
}
.footer .copy {
  position: relative;
  color: #c3c3c3;
  line-height: 1.2;
  font-family: "Mulish-Regular";
}
.footer .copy::before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  top: -10px;
}

.footer .socialfoot{
    display: flex;
    justify-content: center;
  gap: 20px;
}


.footer .socialfoot img{
    width: 30px;
    margin-bottom: 30px;
}