.my__tournament {
  padding: 60px 150px;
  margin-top: 80px;
}

.my__tournament .title {
  font-size: 24px;
  font-family: "Mulish-Bold";
  text-transform: uppercase;
}

.my__tournament .title::after {
  display: block;
  content: "";
  height: 4px;
  background-color: var(--blue-black);
  width: 150px;
  margin-top: 10px;
}

.my__tournament .item__tournament {
  position: relative;
  display: flex;
  color: var(--blue-black);
  column-gap: 100px;
  padding-bottom: 30px;
  align-items: center;
  user-select: none;
}
.tournamnet__text{
  width: calc(100% - 350px);
  line-height: 1.1;
}
.my__tournament .item__tournament:hover h2 {
  color: var(--green-bold);
}
.my__tournament .item__tournament:hover .details {
  opacity: 1;
  visibility: visible;
}
.my__tournament .item__tournament:not(:last-child) {
  margin-bottom: 50px;
  border-bottom: 2px solid #ccc;
}
.item__tournament h2 {
  font-size: 24px;
  font-family: "Mulish-Bold";
}
.item__tournament .tournament__img {
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  border: 1px solid var(--blue-black);
}
.my__tournament .tournament__img img {
  transition: 0.3s;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item__tournament .man {
  font-size: 18px;
  margin-top: 20px;
}

.item__tournament .sub__title {
  margin-right: 10px;
  margin-left: 20px;
  width: 160px;
  display: inline-block;
}

.item__tournament i {
  width: 20px;
}

.item__tournament i img {
  width: 20px;
}

.item__tournament .status {
  padding: 10px;
  height: max-content;
  width: 120px;
  position: absolute;
  right: 0;
  text-align: center;
  font-family: "Mulish-Bold";
  color: green;
  border-radius: 5px;
}
.item__tournament .red {
  color: #ea6061;
}
.item__tournament .grey {
  color: #828282;
  border: 1px dashed #828282;
}
.details {
  background-color: var(--green-bold);
  padding: 20px;
  height: max-content;
  width: max-content;
  position: absolute;
  text-align: center;
  font-family: "Mulish-Bold";
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.titleNoContent {
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.createnow {
  display: block;
  color: var(--blue-black);
  margin-top: 20px;
}

.createnow:hover {
  text-decoration: underline;
  color: var(--blue-black);
}

/* PagingTournament */

.pagingTournament {
  width: max-content;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagelink {
  color: var(--black-text);
  display: inline-block;
  padding: 10px 15px;
  user-select: none;
}

.pageItem:hover .pagelink {
  color: var(--black-text);
}
.pageItem {
  margin-top: 15px;
  margin-left: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: max-content;
  transition: 0.5s;
  cursor: pointer;
}

.pageItem.active,
.pageItem:hover {
  background-color: var(--green-bold);
  color: var(--black-text);
  border: 1px solid transparent;
}
/* End PagingTournament */
/**
 * ==============================================
 * Experiment-Gooey Effect
 * Dot Shuttle
 * ==============================================
 */
.col_3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2px;
}

.dot_shuttle {
  position: relative;
  left: -5px;
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background-color: green;
  color: transparent;
  margin: -1px 0;
  /* filter: blur(2px); */
}

.dot_shuttle::before,
.dot_shuttle::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background-color: green;
  color: transparent;
  /* filter: blur(2px); */
}

.dot_shuttle::before {
  left: 5px;
  animation: dotShuttle 2s infinite ease-out;
}

.dot_shuttle::after {
  left: 20px;
}

@keyframes dotShuttle {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-30px);
  }
  75% {
    transform: translateX(30px);
  }
}

.select1 {
  width: max-content;
  margin-left: auto;
  margin-right: 0;
}

.select1 select{
  padding: 10px 20px;
  font-size: "Mulish-Regular";
  border-radius: 5px;
}
.select1 select:focus{
  border: 2px solid var(--black-text);
}
.col_2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2px;
}

.dot_shuttle2 {
  position: relative;
  left: -5px;
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background-color: #ea6061;
  color: transparent;
  margin: -1px 0;
  /* filter: blur(2px); */
}

.dot_shuttle2::before,
.dot_shuttle2::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background-color: #ea6061;
  color: transparent;
  /* filter: blur(2px); */
}

.dot_shuttle2::before {
  left: 10px;
}

.dot_shuttle2::after {
  left: 20px;
}
