.HeaderTeamDetail .infor_tourdetail::after {
  background-image: url("../../../../public/assets/img/teamdetail/thomas-serer-r-xKieMqL34-unsplash.jpg");
  background-size: cover;
  filter: brightness(70%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  content: "";
  z-index: -1;
}

.HeaderTeamDetail .infor_tourdetail {
  height: 450px;
}

.HeaderTeamDetail .infor_tourdetail .avt__Team {
  border-radius: 5px;
  width: 400px;
}

.HeaderTeamDetail .infor_tourdetail .avt__Team img {
  object-fit: cover;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
}

.HeaderTeamDetail .headertour__tag {
  column-gap: 0;
  justify-content: space-between;
}

.HeaderTeamDetail .infor_tourdetail .man .title {
  width: 150px;
}

.teamdetail .schedule__tour .title,
.teamdetail .gallery__tour .title,
.teamdetail .rank__tour .title {
  font-family: "Mulish-Bold";
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
}

.teamdetail .schedule__tour .title::after,
.teamdetail .gallery__tour .title::after,
.teamdetail .rank__tour .title::after {
  content: "";
  height: 3px;
  background-color: var(--blue-black);
  display: block;
  width: 150px;
  position: absolute;
  bottom: -10px;
}

.teamdetail .gallery__tour .gallery__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.teamdetail .gallery__tour .gallery__item {
  border-radius: 8px;
  overflow: hidden;
}

.tournamentdetail .listPlayer .listPlayer__item span {
  width: 110px;
}
.tournamentdetail .listPlayer .listPlayer__item .avt {
  padding-bottom: 70%;
  border-bottom: 1px solid var(--blue-black);
}
.tournamentdetail .listPlayer .listPlayer__item .avt img {
  min-width: 55%;
  min-height: 55%;
}

.tournamentdetail .listPlayer .listPlayer__item .des {
  background-color: var(--blue-black);
  color: var(--white-text);
}

.teamdetail .rank__tour .note {
  margin-bottom: 20px;
  font-style: italic;
}

.teamdetail .rank__tour .name__table {
  background-color: var(--green-bold);
  padding: 15px;
  width: 120px;
  text-align: center;
  font-family: "Mulish-Bold";
  font-size: 18px;
}

.teamdetail .rank__tour .name__table-cross {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 50px solid var(--green-bold);
  position: relative;
  left: 120px;
  top: -49px;
}

.teamdetail .rank__tour .table__team {
  margin-top: -49px;
  margin-bottom: 50px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}
.teamdetail .rank__tour .table__team tr:nth-child(odd) {
  background-color: #f3f3f3;
}

.teamdetail .rank__tour .table__team tr:first-child {
  background-color: var(--blue-black);
  color: var(--white-text);
}

.teamdetail .rank__tour .table__team th,
.teamdetail .rank__tour .table__team td {
  text-align: center;
  padding: 15px;
}

.teamdetail .schedule__tour .schedule__table tr:nth-child(odd) {
  background-color: #f3f3f3;
}
.teamdetail .schedule__tour .schedule__table tr:first-child {
  color: var(--white-text);
  background-color: var(--blue-black);
  text-transform: uppercase;
  text-align: c;
}

.teamdetail .schedule__tour .schedule__table:first-child{
  margin-bottom: 50px;
  margin-top: 20px;
}
.teamdetail .schedule__tour .schedule__table {
  width: 100%;
  border: 1px solid #ccc;
}
.teamdetail .schedule__tour .schedule__table th,
.teamdetail .schedule__tour .schedule__table td {
  text-align: center;
  padding: 15px;
}
.teamdetail .schedule__tour .schedule__table img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.teamdetail .schedule__tour .schedule__table td:first-child{
  width: 180px;
}

.teamdetail .schedule__tour .schedule__table td:nth-child(2){
  margin-left: 0px;
}
.teamdetail .schedule__tour .schedule__table td:nth-child(2),
.teamdetail .schedule__tour .schedule__table td:nth-child(4){
  text-transform: uppercase;
  position: relative;
  width: max-content;
  width: 100px;
}
.teamdetail .schedule__tour .schedule__table td:nth-child(4){
  width: 280px;
}
.teamdetail .schedule__tour .schedule__table td:nth-child(3){
  font-family: "Mulish-Bold";
  font-size: 18px;
  /* transform: translateX(-80px); */
}
.teamdetail .schedule__tour .schedule__table td:nth-child(2) img{
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 240px;
}
.teamdetail .schedule__tour .schedule__table td:nth-child(4) img{
  position: absolute;
  font-family: "Mulish-Bold";
  top: 50%;
  transform: translateY(-50%);
  right: 390px;
}

.teamdetail .schedule__tour .wrap__title{
  display: flex;
  justify-content: space-between;
}

.teamdetail .schedule__tour .option__view{
  display: flex;
}

.teamdetail .schedule__tour .option__view p{
  border: 1px solid var(--blue-black);
  padding: 15px;
  width: 130px;
  text-align: center;
  font-family: "Mulish-Bold";
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
}

.teamdetail .schedule__tour .option__view p:hover{
  background-color: var(--green-bold);
}
.teamdetail .schedule__tour .option__view p:nth-child(2){
  border-left: 0;
}

.teamdetail .schedule__tour .option__view p.active{
  background-color: var(--green-bold);
}

.teamdetail .schedule__tour .round{
  margin-top: 20px;
}

.teamdetail .schedule__tour .match__item img{
  width: 30px;
  height: 30px;
  border: 1px solid var(--white-text);
  border-radius: 50%;
  margin-left: 15px;
 transform: translateY(10px);
}

.teamdetail .schedule__tour .match__item th,
.teamdetail .schedule__tour .match__item td {
  text-align: center;
  padding: 15px;
}

.teamdetail .schedule__tour .match__item table{
  margin-bottom: 30px;
  user-select: none;
  width: 200px;
  font-family: "Mulish-Bold";
}

.teamdetail .schedule__tour .match__item .row1{
  background-color: var(--blue-black);
  color: var(--white-text);
}
.teamdetail .schedule__tour .match__item .num{
transform: translateY(30px);
}

.teamdetail .schedule__tour .match__item .row2{
  background-color: var(--green-bold);
}

.teamdetail .schedule__tour .match__container{
  display: flex;
  column-gap: 40px;
}

.teamdetail .schedule__tour .match__item tr:nth-child(2){
  border-top: 2px solid var(--white-text);
}