.HeaderTeamDetail .infor_tourdetail::after {
  background-image: url("../../../../public/assets/img/teamdetail/thomas-serer-r-xKieMqL34-unsplash.jpg");
  background-size: cover;
  filter: brightness(70%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  content: "";
  z-index: -1;
}

.HeaderTeamDetail .infor_tourdetail {
  max-height: 600px;
}

.HeaderTeamDetail .infor_tourdetail .avt__Team {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.HeaderTeamDetail .infor_tourdetail .avt__Team img {
  object-fit: cover;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
}

.HeaderTeamDetail .infor_tourdetail .man .title {
  width: 150px;
}

/* Gallery Tournament Detail */

.teamdetail .schedule__tour .title,
.teamdetail .gallery__tour .title,
.teamdetail .rank__tour .title {
  font-family: "Mulish-Bold";
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
}

.teamdetail .schedule__tour .title::after,
.teamdetail .gallery__tour .title::after,
.teamdetail .rank__tour .title::after {
  content: "";
  height: 3px;
  background-color: var(--blue-black);
  display: block;
  width: 150px;
  position: absolute;
  bottom: -10px;
}

.gallery__tour ul.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, 233px);
  grid-gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.gallery__tour div.fullscreen-group.fullscreen-group--expanded::before {
  z-index: 8;
}
.gallery__tour ul.images > li {
  position: relative;
  padding-top: 66%;
}

.gallery__tour ul.images > li i {
  z-index: 2;
  top: 10px;
  right: 10px;
  position: absolute;
  background-color: var(--white-text);
  padding: 5px;
  cursor: pointer;
}
.gallery__tour ul.images > li img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Team In Tournamnet */

.tournamentdetail .listPlayer .listPlayer__item span {
  width: 110px !important;
}
.tournamentdetail .listPlayer .listPlayer__item .avt {
  padding-bottom: 70% !important;
  border-bottom: 1px solid var(--blue-black);
}

.tournamentdetail .listPlayer .listPlayer__item .des {
  background-color: var(--blue-black);
  color: var(--white-text);
}

.des p {
  margin: 10px 0;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

/* Rank Table Tournament */

.teamdetail .rank__tour .note {
  margin-bottom: 20px;
  font-style: italic;
}

.teamdetail .rank__tour .name__table {
  background-color: var(--green-bold);
  padding: 15px;
  width: 120px;
  text-align: center;
  font-family: "Mulish-Bold";
  font-size: 18px;
}

.teamdetail .rank__tour .name__table-cross {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 50px solid var(--green-bold);
  position: relative;
  left: 120px;
  top: -49px;
}

.teamdetail .rank__tour .table__team {
  margin-top: -49px;
  margin-bottom: 50px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}
.teamdetail .rank__tour .table__team:last-child {
  margin-bottom: 0;
}
.teamdetail .prediction__tournament .predict__table tr:nth-child(odd),
.teamdetail .rank__tour .table__team tr:nth-child(odd) {
  background-color: #f3f3f3;
}
.teamdetail .prediction__tournament .predict__table tr:first-child,
.teamdetail .rank__tour .table__team tr:first-child {
  background-color: var(--blue-black);
  color: var(--white-text);
}

.teamdetail .rank__tour .table__team th,
.teamdetail .rank__tour .table__team td {
  text-align: center;
  padding: 15px;
}

/* Schedule Tournament Detail */

.teamdetail .schedule__tour .schedule__table tr:nth-child(odd) {
  background-color: #f3f3f3;
}
.teamdetail .schedule__tour .schedule__table tr:first-child {
  color: var(--white-text);
  background-color: var(--blue-black);
  text-transform: uppercase;
  text-align: c;
}

.teamdetail .schedule__tour .schedule__table:first-child {
  margin-bottom: 50px;
  margin-top: 20px;
}
.teamdetail .schedule__tour .schedule__table {
  width: 100%;
  border: 1px solid #ccc;
}
.teamdetail .schedule__tour .schedule__table th,
.teamdetail .schedule__tour .schedule__table td {
  text-align: center;
  padding: 15px;
}

/* .teamdetail .schedule__tour .schedule__table th {
  transform: translateX(-50px);
} */

.teamdetail .schedule__tour .schedule__table img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.teamdetail .schedule__tour .schedule__table td:nth-child(2) {
  width: max-content;
}

.teamdetail .schedule__tour .schedule__table td:nth-child(3) {
  margin-left: 0px;
}
.teamdetail .schedule__tour .schedule__table td:nth-child(3),
.teamdetail .schedule__tour .schedule__table td:nth-child(5) {
  text-transform: uppercase;
  position: relative;
  width: max-content;
  width: 300px;
}
.teamdetail .schedule__tour .schedule__table td:nth-child(3) p,
.teamdetail .schedule__tour .schedule__table td:nth-child(5) p {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 18px;
  text-overflow: ellipsis;
  display: -webkit-box;
  width:200px;
}
.teamdetail .schedule__tour .schedule__table td:nth-child(5) p {
  margin-left: 70px;
}
.teamdetail .schedule__tour .schedule__table td:nth-child(5) {
  width: 300px;
}
.teamdetail .schedule__tour .schedule__table td:nth-child(4) {
  font-family: "Mulish-Bold";
  font-size: 18px;
  /* transform: translateX(10px); */
}
/* .teamdetail .schedule__tour .schedule__table td:nth-child(6) {
  width: 85px;
} */
.teamdetail .schedule__tour .schedule__table td:nth-child(6) a {
  color: var(--blue-black);
  font-family: "Mulish-Bold";
}

.teamdetail .schedule__tour .schedule__table td:nth-child(6) a:hover {
  text-decoration: underline;
}
.teamdetail .schedule__tour .schedule__table td:nth-child(3) img {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 220px;
}
.teamdetail .schedule__tour .schedule__table td:nth-child(5) img {
  position: absolute;
  font-family: "Mulish-Bold";
  top: 50%;
  transform: translateY(-50%);
  right: 220px;
}

.teamdetail .schedule__tour .wrap__title {
  display: flex;
  justify-content: space-between;
}

.teamdetail .schedule__tour .option__view {
  display: flex;
  align-items: center;
}

.teamdetail .schedule__tour .option__view p {
  border: 1px solid var(--blue-black);
  padding: 15px;
  width: 130px;
  text-align: center;
  font-family: "Mulish-Bold";
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
}

.teamdetail .schedule__tour .option__view p:hover {
  background-color: var(--green-bold);
}
.teamdetail .schedule__tour .option__view p:nth-child(2) {
  border-left: 0;
}

.teamdetail .schedule__tour .option__view p.active {
  background-color: var(--green-bold);
}

.teamdetail .schedule__tour .round {
  margin-top: 20px;
}

.teamdetail .schedule__tour .match__item img {
  width: 30px;
  height: 30px;
  border: 1px solid var(--white-text);
  border-radius: 50%;
  margin-left: 15px;
  transform: translateY(10px);
}

.teamdetail .prediction__tournament .predict__table th,
.teamdetail .prediction__tournament .predict__table td,
.teamdetail .schedule__tour .match__item th,
.teamdetail .schedule__tour .match__item td {
  text-align: center;
  padding: 15px;
}

.teamdetail .schedule__tour .match__item table {
  margin-bottom: 30px;
  user-select: none;
  width: 200px;
  font-family: "Mulish-Bold";
}

.teamdetail .schedule__tour .match__item .row1 {
  background-color: var(--blue-black);
  color: var(--white-text);
}
.teamdetail .schedule__tour .match__item .num {
  transform: translateY(30px);
}

.teamdetail .schedule__tour .match__item .row2 {
  background-color: var(--green-bold);
}

.teamdetail .schedule__tour .match__container {
  display: flex;
  column-gap: 40px;
}

.teamdetail .schedule__tour .match__item tr:nth-child(2) {
  border-top: 2px solid var(--white-text);
}

/* Prediction Tournament Detail */
.teamdetail .prediction .btnPrediction {
  background-color: #fff;
  border: 2px solid var(--green-bold);
  padding: 10px;
  outline: none;
}
.teamdetail .prediction .btnPrediction:hover {
  background-color: var(--green-bold);
}

.teamdetail .prediction .schedule__table td:nth-child(5) {
  width: 120px;
}

.teamdetail .prediction .schedule__table td:nth-child(2) {
  width: 190px;
}

.teamdetail .prediction .schedule__table td:nth-child(4) img {
  right: 330px;
}

.popup__prediction {
  background-color: #fff;
  border: 2px solid var(--blue-black);
  position: fixed;
  padding: 20px 30px;
  text-align: center;
  z-index: 8;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.popup__prediction.active {
  top: 30%;
  left: 50%;
  opacity: 1;
  visibility: visible;
}
.overlay.active {
  opacity: 0.8;
  visibility: visible;
}
.popup__prediction h2 {
  text-transform: uppercase;
  margin-top: 30px;
}
.popup__prediction .popup__prediction__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.popup__prediction .popup__prediction__wrap input {
  width: 60px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
}
.popup__prediction .popup__prediction__wrap input:focus {
  border: 1px solid var(--blue-black);
}
.popup__prediction .popup__prediction__wrap .line {
  width: 10px;
  background-color: var(--blue-black);
  height: 2px;
}

.popup__prediction button {
  margin-top: 25px;
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: var(--blue-black);
  font-family: "Mulish-Bold";
  color: var(--white-text);
}

.popup__prediction input::-webkit-outer-spin-button,
.popup__prediction input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.popup__prediction input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  text-align: center;
}

.overlay {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 8;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.popup__prediction .close {
  position: absolute;
  font-family: "Mulish-Bold";
  right: 10px;
  top: 5px;
  user-select: none;
  cursor: pointer;
  font-size: 24px;
}

.teamdetail .HeaderTeamDetail .headertour__tag {
  column-gap: 0;
  justify-content: space-between;
}

.tournamentdetail .listPlayer .listPlayer__item .avt img {
  min-width: 55% !important;
  min-height: 55% !important;
}

.btn_UpdateTournament:hover {
  color: white;
  background-color: var(--blue-black) !important;
}

.choicePlayerTable,
.choicePlayerTable th,
.choicePlayerTable td {
  border: 1px solid black;
}

.listFootballPlayerChoice tr {
  transition: all 0.3s ease 0s;
  font-family: Mulish;
}

.listFootballPlayerChoice tr:hover {
  background-color: #f0f2f5;
}

.popup__player {
  display: none;
  position: fixed;
  top: 50%;
  z-index: 10;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup__player.active {
  display: block;
}

.btn_deleteTeam,
.btn_acceptTeam {
  background-color: #d7fc6a;
  border: 1px solid #d7fc6a;
  transition: all 0.5s ease 0s;
}

.btn_deleteTeam:hover,
.btn_acceptTeam:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
}

.btnLoadMore {
  display: block;
  width: max-content;
  margin: 40px auto 0;
  padding: 15px 40px;
  font-size: 18px;
  outline: none;
  border: none;
  background-color: var(--blue-black);
  color: var(--white-text);
  transition: 0.5s;
  font-family: "Mulish-Bold";
}

.btnLoadMore:hover {
  background-color: var(--green-bold);
  color: var(--blue-black);
  transition: 0.5s;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 15px;
}

.thongbao__item {
  box-shadow: 0 1px 6px #ccc;
  padding: 20px;
  position: relative;
}
.thongbao__item:not(:last-child) {
  margin-bottom: 40px;
}

.thongbao_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.thongbao_top h1 {
  margin-left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-family: "Mulish-Bold";
  text-transform: uppercase;
  font-size: 24px;
}

.thongbao_top .view__more i {
  font-size: 28px;
  cursor: pointer;
}

.thongbao__content {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.thongbao__img {
  width: 400px;
  height: auto;
}

.thongbao__img img {
  border-radius: 5px;
  min-height: 100%;
  min-width: 100%;
}
.thongbao__content p {
  width: calc(100% - 400px);
  font-size: 18px;
  line-height: 1.4;
}

.teamdetail .cmtTeam .cmtInput .thongbao__btn {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
}

.popup__news {
  border-radius: 5px;
  height: auto;
  width: 900px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.popup__news.active {
  display: block;
}

.popup__news h4 {
  text-transform: uppercase;
  font-family: "Mulish-Bold";
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.popup__news textarea {
  display: block;
  outline: none;
  border: none;
  height: 140px;
  width: 100%;
}
.popup__news input {
  display: none;
}

.popup__news input:focus,
.popup__news textarea:focus {
  border: none;
}
.searchaa:focus{
  border: 2px solid var(--black-text);
}
.popup__news button {
  display: block;
  background-color: var(--green-bold);
  padding: 10px 20px;
  width: 150px;
  color: var(--blue-black);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  outline: none;
  border: none;
  transition: 0.5s;
  border-radius: 5px;
}
.popup__news button:hover {
  background-color: var(--blue-black);
  color: var(--white-text);
}
.popup__news label {
  margin-top: 20px;
  cursor: pointer;
}

.popup__news label i {
  font-size: 28px;
  color: var(--green-bold);
}

.popup__news img {
  display: block;
  height: 200px;
  width: 200px;
}
.hihi {
  margin-bottom: 40px;
}

.hihi label span {
  margin-left: 10px;
  font-size: 18px;
}
.popup__news .img {
  margin-top: 20px;
  position: relative;
  width: max-content;
}

.popup__news .img i {
  background-color: #fff;
  padding: 5px;
  position: absolute;
  z-index: 9;
  color: var(--blue-black);
  right: 10px;
  font-size: 16px;
  cursor: pointer;
  top: 10px;
}

.popup__news .close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-family: "Mulish-Bold";
  font-size: 24px;
  cursor: pointer;
}

/* PagingTournament */

.pagingTournament {
  width: max-content;
  margin: 0 auto;
  margin-top: 20px;
  /* margin-bottom: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagelink {
  color: var(--blue-black);
  display: inline-block;
  padding: 10px 15px;
}

.pageItem:hover .pagelink {
  color: var(--blue-black);
}
.pageItem {
  margin-top: 15px;
  margin-left: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: max-content;
  transition: 0.5s;
  cursor: pointer;
}

.pageItem.active,
.pageItem:hover {
  background-color: var(--green-bold);
  color: var(--black-text);
  border: 1px solid transparent;
}

/* =========== */

.thongbao .option__player.active {
  display: block;
}
.thongbao .option__player {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  width: max-content;
  border-radius: 5px;
  right: 15px;
  top: 45px;
  box-shadow: 0 1px 6px #ccc;
}

.thongbao .option__player p {
  cursor: pointer;
  padding: 10px;
}
.thongbao .option__player p:hover {
  background-color: #f0f2f5;
  border-radius: 5px;
}

.thongbao .option__player p i {
  margin-right: 10px;
}

.baivietnull {
  font-size: 18px;
}
.modifyIcon {
  position: absolute;
  right: 10px;
  top: 5px;
  width: max-content !important;
  padding: 0 !important;
}
.editIcon {
  border-radius: 0 !important;
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
  margin-left: 15px;
}
.editComment_form {
  display: none;
}
.editComment_form.active {
  display: block;
}

.editComment_form textarea {
  border: none;
  padding: 10px !important;
}

.editComment_form button {
  margin: 0 10px;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
}
.btnWrap {
  display: flex;
  justify-content: flex-end;
}

.deletePopup {
  position: fixed;
  z-index: 10;
  background-color: var(--white-text);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 400px !important;
  height: 150px !important;
  border-radius: 5px;
  text-align: center;
}
.deleteShadow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.deletePopup .btnLoadMore {
  padding: 10px 20px;
}

.exo .img__list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  column-gap: 20px;
  /* flex-wrap: wrap; */
}

.deleteConfirm {
  position: fixed;
  display: none;
  z-index: 10;
  background-color: var(--white-text);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 400px;
  height: 150px;
  border-radius: 5px;
}
.deleteConfirm.active {
  display: block;
}
.deleteConfirm h3 {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Mulish-Bold";
  margin-bottom: 40px;
}
.deletePopup .buttonConfirm {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.deleteConfirm .buttonConfirm {
  display: flex;
  justify-content: space-between;
}

.deletePopup .buttonConfirm button,
.deleteConfirm .buttonConfirm button {
  border: none;
  outline: none;
  padding: 15px 15px;
  width: max-content;
  color: var(--white-text);
  width: 170px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
}

.deletePopup .buttonConfirm .cancel,
.deleteConfirm .buttonConfirm .cancel {
  background-color: #dc3545;
}
.deletePopup .buttonConfirm .confirm,
.deleteConfirm .buttonConfirm .confirm {
  background-color: #28a745;
}

.deletePopup .buttonConfirm button:hover,
.deleteConfirm .buttonConfirm button:hover {
  filter: brightness(90%);
}

.HeaderTeamDetail .report {
  position: absolute;
  display: flex;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: var(--white-text);
  column-gap: 5px;
  border: 1px solid var(--white-text);
  padding: 10px;
  font-family: "Mulish-Bold";
  border-radius: 5px;
  transition: 0.5s;
}

.HeaderTeamDetail .report:hover {
  background-color: var(--blue-black);
}

.errRp {
  margin-bottom: 10px;
}

.teamdetail .listPlayer .listPlayer__item .des .buttonChieumoGiai{
  margin-top: 15px;
  padding: 10px;
  background-color: var(--green-bold);
  text-align: center;
  color: var(--blue-black);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.teamdetail .listPlayer .listPlayer__item .des .buttonThamGia{
  margin-top: 15px;
  padding: 10px;
  font-family: "Mulish-Bold";
  text-align: center;
  color: var(--green-bold);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.teamdetail .listPlayer .listPlayer__item .des .buttonChieumoGiai:hover{
  filter: brightness(90%);
}

.teamdetail .listPlayer .listPlayer__item .des .daChieuMo{
  margin-top: 15px;
  padding: 10px;
  border: 1px solid var(--green-bold);
  text-align: center;
  color: var(--green-bold);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}