.countdown{
    margin-top: 20px;
    background-color: var(--green-bold);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.countdown .title{
    font-size: 28px;
    font-family: "Mulish-Bold";
}

.countdown_wrap{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
}

.time{
    font-family: "Mulish-Bold";
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: 1.1px;
}

.text{
    text-transform: uppercase;
}

.checkbox{
    margin-bottom: 30px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--blue-black);
    position: absolute;
    top: 2.8px;
    left: 3.2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* checkbox */
.checkbox_container  input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox_container  label::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: .15em;
    margin-right: .5em;
    border: .05em solid var(--blue-black);
}

.checkbox_container  label:hover::before,
.checkbox_container  input[type='checkbox']:hover + label::before {
    background-color: #27AE60;
}

.checkbox_container  input[type='checkbox']:focus + label::before {
    box-shadow: 0 0 20px var(--blue-black);
}

.checkbox_container  input[type='checkbox']:disabled + label,
.checkbox_container  input[type='checkbox']:disabled {
    color: #aaa;
    cursor: default;
}

.checkbox_container input[type='checkbox']:checked + label::before {
    content: '\002714';
    background-color: #27AE60;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.checkbox_container input[type='checkbox']:disabled + label::before {
    background-color: #ccc;
    border-color: #999;
}


.checkbox_container {
    display: flex;
    align-items: center;
}

.checkbox_container label {
    cursor: pointer;
    display: flex;
}

